@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NeueMachina;
  font-display: swap;
  src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"), url("../fonts/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0b0013;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Styles will be applied to 
all classes that contain *__container
For example header__container, main__container, etc.
Snippet (HTML): cnt
*/

[class*=__container] {
  max-width: 91.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 20px 40px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.button:active {
  bottom: -1px;
}

.button-stroke::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#6f2dbe), color-stop(51.35%, #7e2dbe), to(#982dbe));
  background: -o-linear-gradient(left, #6f2dbe 0%, #7e2dbe 51.35%, #982dbe 100%);
  background: linear-gradient(90deg, #6f2dbe 0%, #7e2dbe 51.35%, #982dbe 100%);
}

.button-stroke::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  border-radius: 8px;
  background: #0b0013;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-stroke:hover::after {
  opacity: 0;
}

.button-fill::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#6f2dbe), color-stop(51.35%, #7e2dbe), to(#982dbe));
  background: -o-linear-gradient(left, #6f2dbe 0%, #7e2dbe 51.35%, #982dbe 100%);
  background: linear-gradient(90deg, #6f2dbe 0%, #7e2dbe 51.35%, #982dbe 100%);
}

.button-fill::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  border-radius: 8px;
  background: #0b0013;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.button-fill:hover::after {
  opacity: 1;
}

h1 {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

@supports (font-size: clamp( 2.625rem , 2.1463675214rem  +  2.3931623932vw , 4.375rem )) {
  h1 {
    font-size: clamp( 2.625rem , 2.1463675214rem  +  2.3931623932vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 2.1463675214rem  +  2.3931623932vw , 4.375rem )) {
  h1 {
    font-size: calc(
      2.625rem + 1.75 * (100vw - 20rem) / 73.125
    );
  }
}

h2 {
  font-family: "NeueMachina";
  font-weight: 800;
  text-transform: uppercase;
}

@supports (font-size: clamp( 2.25rem , 2.0106837607rem  +  1.1965811966vw , 3.125rem )) {
  h2 {
    font-size: clamp( 2.25rem , 2.0106837607rem  +  1.1965811966vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 2.0106837607rem  +  1.1965811966vw , 3.125rem )) {
  h2 {
    font-size: calc(
      2.25rem + 0.875 * (100vw - 20rem) / 73.125
    );
  }
}

.page,
.main__container {
  will-change: transform;
}

.header {
  padding: 30px 0;
  -webkit-transition: padding 0.3s ease, background-color 0.3s ease;
  -o-transition: padding 0.3s ease, background-color 0.3s ease;
  transition: padding 0.3s ease, background-color 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

.header._header-scroll {
  padding: 10px 0;
  background: rgba(11, 0, 19, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "NeueMachina";
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  gap: 16px;
}

.header__logo img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__logo:hover img {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  z-index: 5;
}

.header__href {
  padding: 10px;
  position: relative;
}

.header__href::before {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% - 20px);
  background: #fff;
  left: 10px;
  bottom: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__href:hover::before {
  bottom: 10px;
  opacity: 0;
}

.menu-open .menu__body {
  left: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  position: relative;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link._active::before,
.menu__link:hover::before {
  opacity: 1;
  bottom: -8px;
}

.icon-menu {
  display: none;
}

.footer {
  height: 200vh;
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main__spiral {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  -webkit-animation: spiralRotate 30s ease-in-out infinite;
          animation: spiralRotate 30s ease-in-out infinite;
}

@supports (left: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem )) {
  .main__spiral {
    left: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem );
  }
}

@supports not (left: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem )) {
  .main__spiral {
    left: calc(
      -11.25rem + -20 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (top: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem )) {
  .main__spiral {
    top: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem );
  }
}

@supports not (top: clamp( -31.25rem , -5.7799145299rem  +  -27.3504273504vw , -11.25rem )) {
  .main__spiral {
    top: calc(
      -11.25rem + -20 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (width: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem )) {
  .main__spiral {
    width: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem );
  }
}

@supports not (width: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem )) {
  .main__spiral {
    width: calc(
      22.5rem + 40 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (height: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem )) {
  .main__spiral {
    height: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem );
  }
}

@supports not (height: clamp( 22.5rem , 11.5598290598rem  +  54.7008547009vw , 62.5rem )) {
  .main__spiral {
    height: calc(
      22.5rem + 40 * (100vw - 20rem) / 73.125
    );
  }
}

.main__light-l1 {
  z-index: -1;
  position: absolute;
  top: 0px;
  pointer-events: none;
  background: #5f15fe;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

@supports (width: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem )) {
  .main__light-l1 {
    width: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem );
  }
}

@supports not (width: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem )) {
  .main__light-l1 {
    width: calc(
      18.75rem + 4.375 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (height: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem )) {
  .main__light-l1 {
    height: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem );
  }
}

@supports not (height: clamp( 18.75rem , 17.5534188034rem  +  5.9829059829vw , 23.125rem )) {
  .main__light-l1 {
    height: calc(
      18.75rem + 4.375 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (left: clamp( -9.375rem , -5.3952991453rem  +  -4.2735042735vw , -6.25rem )) {
  .main__light-l1 {
    left: clamp( -9.375rem , -5.3952991453rem  +  -4.2735042735vw , -6.25rem );
  }
}

@supports not (left: clamp( -9.375rem , -5.3952991453rem  +  -4.2735042735vw , -6.25rem )) {
  .main__light-l1 {
    left: calc(
      -6.25rem + -3.125 * (100vw - 20rem) / 73.125
    );
  }
}

.main__light-l2 {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  background: #5f15fe;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

@supports (width: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem )) {
  .main__light-l2 {
    width: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem );
  }
}

@supports not (width: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem )) {
  .main__light-l2 {
    width: calc(
      7.5rem + 15.625 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (height: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem )) {
  .main__light-l2 {
    height: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem );
  }
}

@supports not (height: clamp( 7.5rem , 3.2264957265rem  +  21.3675213675vw , 23.125rem )) {
  .main__light-l2 {
    height: calc(
      7.5rem + 15.625 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (right: clamp( -9.375rem , 2.5641026437rem  +  -12.820512906vw , 0.0000000625rem )) {
  .main__light-l2 {
    right: clamp( -9.375rem , 2.5641026437rem  +  -12.820512906vw , 0.0000000625rem );
  }
}

@supports not (right: clamp( -9.375rem , 2.5641026437rem  +  -12.820512906vw , 0.0000000625rem )) {
  .main__light-l2 {
    right: calc(
      0.0000000625rem + -9.3750000625 * (100vw - 20rem) / 73.125
    );
  }
}

.main__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  margin-top: 6.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.main__content h1 {
  max-width: 45.625rem;
  position: relative;
}

.main__content h1 img {
  position: absolute;
  z-index: -1;
}

@supports (right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem )) {
  .main__content h1 img {
    right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem );
  }
}

@supports not (right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem )) {
  .main__content h1 img {
    right: calc(
      1.25rem + -1.875 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem )) {
  .main__content h1 img {
    top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem );
  }
}

@supports not (top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem )) {
  .main__content h1 img {
    top: calc(
      -1.25rem + -1.0625 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem )) {
  .main__content h1 img {
    width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem );
  }
}

@supports not (width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem )) {
  .main__content h1 img {
    width: calc(
      2.9375rem + 2.4375 * (100vw - 20rem) / 73.125
    );
  }
}

.main__content p {
  max-width: 21.875rem;
  text-align: center;
}

.main__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.main__content a:hover img {
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.main__content a._active img {
  -webkit-animation: rocketGo 1s;
          animation: rocketGo 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.main__button {
  position: relative;
  overflow: hidden;
}

.main__nft {
  position: absolute;
  right: -35%;
  bottom: 0px;
  background: #5f15fe;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  -webkit-transition: scale 0.3s ease;
  -o-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(95, 21, 254, 0.5));
          filter: drop-shadow(0px 0px 20px rgba(95, 21, 254, 0.5));
}

.main__nft_inner {
  position: absolute;
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__nft_inner img {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: scale 0.3s ease;
  -o-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.main__nft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 1.24;
  border: 1px solid #5f15fe;
  border-radius: 1000px;
  -webkit-transition: scale 0.3s ease, opacity 0.3s ease;
  -o-transition: scale 0.3s ease, opacity 0.3s ease;
  transition: scale 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.main__nft_arrow {
  pointer-events: none;
  position: absolute;
  top: -216px;
  right: -42px;
  -webkit-transition: scale 100000000000000000000000000000s ease;
  -o-transition: scale 100000000000000000000000000000s ease;
  transition: scale 100000000000000000000000000000s ease;
}

.main__nft:hover_inner {
  scale: 1.1;
}

.main__nft:hover img {
  scale: 1.1;
}

.main__nft:hover::before {
  scale: 1;
  opacity: 0;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  25% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  75% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  25% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  75% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes spiralRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spiralRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rocketGo {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }

  51% {
    -webkit-transform: translate(-40px, 40px);
            transform: translate(-40px, 40px);
  }

  80% {
    -webkit-transform: translate(-40px, 40px);
            transform: translate(-40px, 40px);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rocketGo {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }

  51% {
    -webkit-transform: translate(-40px, 40px);
            transform: translate(-40px, 40px);
  }

  80% {
    -webkit-transform: translate(-40px, 40px);
            transform: translate(-40px, 40px);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.marquee {
  margin-bottom: 6.25rem;
}

@supports (margin-top: clamp( -3.125rem , 12.7938034188rem  +  -17.094017094vw , 9.375rem )) {
  .marquee {
    margin-top: clamp( -3.125rem , 12.7938034188rem  +  -17.094017094vw , 9.375rem );
  }
}

@supports not (margin-top: clamp( -3.125rem , 12.7938034188rem  +  -17.094017094vw , 9.375rem )) {
  .marquee {
    margin-top: calc(
      9.375rem + -12.5 * (100vw - 20rem) / 73.125
    );
  }
}

.marquee-container1 {
  overflow: hidden;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background: #5f15fe;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 60px rgba(80, 19, 209, 0.5);
          box-shadow: 0px 10px 60px rgba(80, 19, 209, 0.5);
}

.marquee-container2 {
  overflow: hidden;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  background: #8044ff;
  position: relative;
  z-index: 0;
  top: -60px;
}

.marquee__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3832px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
  white-space: nowrap;
  padding: 5px 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marquee__block:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee__block span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 0.05em;
  width: 100%;
  color: #0b0013;
  text-transform: uppercase;
  /* Расстояние между элементами */
}

.marquee__block img {
  display: inline-block;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about__container > h2 {
  max-width: 20rem;
  display: block;
  position: relative;
}

.about__container > h2 img {
  position: absolute;
  z-index: -1;
}

@supports (right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem )) {
  .about__container > h2 img {
    right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem );
  }
}

@supports not (right: clamp( -0.625rem , 1.7628205128rem  +  -2.5641025641vw , 1.25rem )) {
  .about__container > h2 img {
    right: calc(
      1.25rem + -1.875 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem )) {
  .about__container > h2 img {
    top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem );
  }
}

@supports not (top: clamp( -2.3125rem , -0.9594017094rem  +  -1.452991453vw , -1.25rem )) {
  .about__container > h2 img {
    top: calc(
      -1.25rem + -1.0625 * (100vw - 20rem) / 73.125
    );
  }
}

@supports (width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem )) {
  .about__container > h2 img {
    width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem );
  }
}

@supports not (width: clamp( 2.9375rem , 2.2708333333rem  +  3.3333333333vw , 5.375rem )) {
  .about__container > h2 img {
    width: calc(
      2.9375rem + 2.4375 * (100vw - 20rem) / 73.125
    );
  }
}

.about__content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left {
  padding: 60px;
  position: relative;
}

.about__left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-radial-gradient(0% 100%, 63.39% 63.39%, #5f15fe 0%, rgba(95, 21, 254, 0) 100%), -o-radial-gradient(100% 0%, 37.24% 37.24%, #5f15fe 0%, rgba(95, 21, 254, 0) 100%);
  background: radial-gradient(63.39% 63.39% at 0% 100%, #5f15fe 0%, rgba(95, 21, 254, 0) 100%), radial-gradient(37.24% 37.24% at 100% 0%, #5f15fe 0%, rgba(95, 21, 254, 0) 100%);
  border-radius: 8px;
  z-index: -1;
}

.about__left::after {
  position: absolute;
  border-radius: 8px;
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  background: #0b0013;
  z-index: -1;
}

.about__left_img {
  background: -o-linear-gradient(359.87deg, #6f2dbe 0.1%, #7e2dbe 50.31%, #982dbe 98.64%);
  background: linear-gradient(90.13deg, #6f2dbe 0.1%, #7e2dbe 50.31%, #982dbe 98.64%);
  border-radius: 8px;
}

.about__right {
  max-width: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.about__right h5 {
  font-family: "NeueMachina";
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
  color: #ffffff;
}

@supports (font-size: clamp( 1.125rem , 1.0908119658rem  +  0.1709401709vw , 1.25rem )) {
  .about__right h5 {
    font-size: clamp( 1.125rem , 1.0908119658rem  +  0.1709401709vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0908119658rem  +  0.1709401709vw , 1.25rem )) {
  .about__right h5 {
    font-size: calc(
      1.125rem + 0.125 * (100vw - 20rem) / 73.125
    );
  }
}

.about__right_block {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
  width: 100%;
  max-width: 9.375rem;
}

.about__numbers * {
  text-align: left;
}

.about__numbers h2 {
  color: #5f15fe;
}

.about__devider {
  position: relative;
  width: 1px;
  background: #fff;
  opacity: 0.5;
}

@media (max-width: 78.75em) {
  .about__container > h2 {
    margin: 0 auto;
    text-align: center;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .about__left {
    width: 100%;
    max-width: 36.9375rem;
  }

  .about__left img {
    width: 100%;
  }

@supports (font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.125rem )) {
    .about__numbers h2 {
      font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.125rem )) {
    .about__numbers h2 {
      font-size: calc(
      1.5rem + 1.625 * (100vw - 20rem) / 73.125
    );
    }
}
}

@media (max-width: 69.375em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 120vh;
    width: 100%;
    background: rgb(11, 0, 19);
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    position: absolute;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    top: max(30vh, 116px);
    width: 100%;
    padding: 0 15px;
    height: calc(100vh - 116px - 100px);
    padding-bottom: 20px;
    overflow-y: scroll;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 50.625em) {
  .main__nft_arrow {
    width: 188px;
    height: 96px;
    top: -135px;
  }
}

@media (max-width: 41.875em) {
  .about__numbers {
    width: 100%;
    max-width: 5rem;
  }
}

@media (max-width: 37.5em) {
  .main__nft {
    right: 0;
    bottom: -150px;
  }
}